.previous-experience {
    margin:0 auto;
}
.body{
    max-width:1200px;
    margin:2em auto ;
    font-family:'system-ui';
    font-size:1em;


}

.body .horizontal-line{
    margin:2em auto;
    max-width: 100%;  
}

.two-column {
    display:flex;
}

.two-column.left-align .left {
    flex:20%;
    max-width: 20%;
    padding:0 1em;
}

.two-column.left-align .left img { 
    max-width:8em;
    float:right;
}

.two-column.left-align .right {
    flex: 80%;
    padding:0 1em;   
}


.main-component .left{
    border-right: 1px solid #aaa
}

footer span.disclaimer{
    font-size: 8px;
}