.h1 {
    color:red;
}

.item{
    border: 1px #cacaca ;
    border-style: dashed ;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.title{ 
    font-size: 1.5em;   
}

.duration{
    font-weight:bold;
}

.highlights{

}

.projects{

}

.durationStart{

}

.durationEnd{

}

.projectsTitle{
    font-weight:bold;
}
