.h1 {
    color:red;
}
.container{
    text-decoration: none;
    color: #000;
}
.conatiner:visited{
    text-decoration: none;
    color: #000;
}

.item{
    border: 2px #cacaca ;
    border-style: dashed ;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}
li:not(:last-child) { 
    margin-bottom: 1em;  
 }

.title{ 
    font-size: 1.5em;   
}

.duration{
    font-weight:bold;
    padding-top:1em;
}

.description{
   font-weight:lighter; 
}

.highlights{
    font-weight:lighter;   
}

.durationStart{
    font-weight:bold;
}

.durationEnd{
    font-weight:bold;
}

.highlightsTitle{
    font-weight:bold;
}

