@media only screen and (min-device-width: 1024px) {

    .container{
        display:grid;
        grid-template-rows: auto;
        grid-template-columns: auto; 
        grid-template-areas:
        "image name"
        "image personalInformation"
        "image socialInformation"
    }

    .image{
        grid-area: image;
    }
    .image img{
        max-width:10em;
    }

    .name{
        grid-area: name;
    }

    .name .bigName{
        font-size: 3em;
        margin-bottom:0.1em;
        margin-top:0.2em
    }

    .personalInformation{
        grid-area: personalInformation;
    }

    .personalInformation img{
        max-width:1em;
        max-height:1em;
        margin-right:.5em;
    }

    .personalInformation > *{
        float:left
    }

    .socialInformation{
        grid-area: socialInformation;
    }


    .socialInformation img{
        max-height:1.5em;
        max-width:1.5em;
        margin-right: 0.5em;
    }
}


@media only screen and (max-device-width: 1024px) {
    .container{
        text-align:center;
        display:grid;
        grid-template-rows: auto;
        grid-template-columns: auto; 
        grid-template-areas:
        "image"
        "name"
        "personalInformation"
        "socialInformation"
    }

    .image{
        grid-area: image;
    }
    .name{
        grid-area: name;
        margin-bottom:1em;
    }

    .titleLine{
        font-size:1.2em;
    }
    .personalInformation{
        grid-area: personalInformation;
        text-align: center;
        margin-bottom:1em
    }

    .personalInformation img{
        max-width:1em;
        max-height:1em;
        margin-right:.5em;
    }

    .personalInformation > div{
        margin-bottom:0.5em;
    }

    .socialInformation{
        grid-area: socialInformation;
        margin:0 auto;
    }
    
    .image img{
        max-width:12em;
    }

    .name h1{
        margin:0px auto .3em;
        font-size: 3em;
    }
    .socialInformation img{
        max-height:4em;
        max-width:4em;
        margin:0 1em;
    }
    .mobileHide{
        display:none;
    }
}